button {
    margin-top: 20px;
    width: 100px;
    height: 70px;
}

.btn-block {
    height: 100px;
    background-color: gray;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}